<h1>Editing event</h1>

<%= render 'form' %>

<%= link_to 'Show', @event %> |
<%= link_to 'Back', calendar_index_path %>
<%= button_to 'Remove', @event, :confirm => 'Are you sure?', :method => :delete %> |

