<footer>
  <nav class="round">
    <ul>
      <li><a href="http://www.crossfit.com/cf-info/what-crossfit.html">About</li>
      <li><a href="http://www.crossfit.com/cf-info/CF-contact.html">Contact Us!</li>
      <li><a href="http://heightn.com/crossfitstory/">Community</a></li>
    </ul>
  </nav>
</footer>

