<header>
<script type="text/javascript"> 

<!--
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
 
function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}
 
function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->

</script>
  <img src="/images/logo.png" name="menu" width="300" height="233" border="0">
  <nav class="round">
    <ul>
      <li><a href="/">Home</a></li> 
      <li><a href="http://www.youtube.com/user/CrossFitHQ">Videos</a></li>
	  <% if signed_in? %>
      <li><%= link_to "Calendar", calendar_index_path %></li>
      <li><a href="/templates">Named Workouts</a></li> 
      <li><%= link_to "Account Management", edit_user_path(current_user) %></li> 
      <li><a href="/signout" data-method="delete" rel="nofollow">Sign out</a></li>
      <% else %>
      <li><a href="/signin?height=600&width=715" class="thickbox" title="Sign In">Sign In</a></li>
      <li><a href="/signup?height=600&width=715" class="thickbox">Register</a></li> 
      <% end %>
    </ul>
  </nav>
</header>

